body{
    counter-reset: list;
    text-align: center;
    font-family: Arial, Helvetica;
    font-weight: 500;
    line-height: 160%;
}

.title{
    margin-top: 50px;
    font-size: 36px;
    font-style: bold;
    font-weight: 700;
    line-height: 42px;
}

.price{
    font-size: 16px;
}

.add_info p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 20px 0 0 0;
}

.container{
    display: grid;
    justify-content: center;
    padding: 50px 0;
    grid-template-columns: repeat(4, 256px);
    grid-gap: 20px;
    grid-template-rows: repeat(4, 256px);
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 15px;
    font-style: normal;
    font-size: 18px;
    color: white;
}

.item:nth-child(1){
    background-image: url('../img/grid_1.jpg');
}

.item:nth-child(2){
    background-image: url('../img/grid_2.jpg');
}

.item:nth-child(3){
    grid-column: span 2;
    grid-row: span 2;
    background-image: url('../img/grid_3.jpg');
    font-size: 24px;
}

.item:nth-child(4){
    background-image: url('../img/grid_4.jpg');
}

.item:nth-child(5){
    background-image: url('../img/grid_5.jpg');
}

.item:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
    background-image: url('../img/grid_6.jpg');
    font-size: 24px;
}

.item:nth-child(7){
    background-image: url('../img/grid_7.jpg');
}

.item:nth-child(8){
    background-image: url('../img/grid_8.jpg');
}

.item:nth-child(9){
    background-image: url('../img/grid_9.jpg');
}

.item:nth-child(10){
    background-image: url('../img/grid_10.jpg');
}